@font-face {
   font-family: 'Dancing Script';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Ogi/Desktop/%D0%A1%D0%B0%D0%B9%D1%82%D0%BE%D0%B2%D0%B5/%D0%A2%D1%83%D1%80%20%D0%B0%D0%B3%D0%B5%D0%BD%D1%86%D0%B8%D1%8F/Elegance%20Travel/etravelserver/fonts/Dancing Script/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Dancing Script';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Ogi/Desktop/%D0%A1%D0%B0%D0%B9%D1%82%D0%BE%D0%B2%D0%B5/%D0%A2%D1%83%D1%80%20%D0%B0%D0%B3%D0%B5%D0%BD%D1%86%D0%B8%D1%8F/Elegance%20Travel/etravelserver/fonts/Dancing Script/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Dancing Script';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Ogi/Desktop/%D0%A1%D0%B0%D0%B9%D1%82%D0%BE%D0%B2%D0%B5/%D0%A2%D1%83%D1%80%20%D0%B0%D0%B3%D0%B5%D0%BD%D1%86%D0%B8%D1%8F/Elegance%20Travel/etravelserver/fonts/Dancing Script/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Dancing Script';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Ogi/Desktop/%D0%A1%D0%B0%D0%B9%D1%82%D0%BE%D0%B2%D0%B5/%D0%A2%D1%83%D1%80%20%D0%B0%D0%B3%D0%B5%D0%BD%D1%86%D0%B8%D1%8F/Elegance%20Travel/etravelserver/fonts/Dancing Script/regular.ttf') format('truetype');
}
